teams/__pycache__/urls.cpython-311.pyc
teams/__pycache__/views.cpython-311.pyc
teams/__pycache__/urls.cpython-311.pyc
teams/__pycache__/views.cpython-311.pyc
*.pyc
teams/__pycache__/urls.cpython-311.pyc
teams/__pycache__/views.cpython-311.pyc
