{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href='{% static "/css/main.css" %}'>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body class="project-font">
  <div class="container">
      <div class="nav" style="background-color: #204377;">
          <div style="display: inherit; align-items: center;">
              <img class="homebase-logo" src="{% static '/homebase-logo.png' %}"> 
              <a class="nav-link link-light" style="padding: 5px; font-weight: 600; color: white !important;" href="/">HOMEBASE</a>
          </div>
          <div style="margin-left: auto; font-size: smaller;">
              <div style="display: inline-block;">
                  <a class="nav-link link-light page-title" href="/">Teams</a>
              </div>
              <div style="display: inline-block">
                  <a class="nav-link link-light page-title" href="/leaderboard">Leaderboards</a>
              </div>
          </div>
      </div>
      {% block content %}
      {% endblock %}
  </div>

</body>
</html>