{% extends "index.html" %}

{% block title %}
  MLB Teams
{% endblock %}



{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h4 style="color:white;">Teams</h4>
        </div>
        {% for division in divisions %}
            <div class="col-lg-6">
                <table class="table table-sm" style="background-color: white; font-size: 80%;">
                    <thead style="color: white; background-color: #3E9FCA;">
                      <tr>
                        <th scope="col">{{division.name}}</th>
                        <th scope="col">W</th>
                        <th scope="col">L</th>
                        <th scope="col">Pct</th>
                        <th scope="col">GB</th>
                        <th scope="col">L10</th>
                        <th scope="col">DIFF</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for team in division.teams %}
                            <tr>
                                <td style="text-align: left; width: 50%;">
                                    <div>
                                          <img src="https://www.mlbstatic.com/team-logos/{{team.team.id}}.svg" style="width: 20px; height: 20px; margin-right: 10px;"/> 
                                        <a style="text-decoration: none;" href="{% url 'team' team_id=team.team.id %}" >{{team.team.name}}</a>
                                    </div>
                                </td>
                                <td>{{team.leagueRecord.wins}}</td>
                                <td>{{team.leagueRecord.losses}}</td>
                                <td>{{team.leagueRecord.pct}}</td>
                                <td>{{team.gamesBack}}</td>
                                <td>
                                    {% for record in team.records.splitRecords %}
                                        {% if record.type == 'lastTen'  %}
                                            {{record.wins}} - {{record.losses}}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>{{team.runDifferential}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}

        <div class="col-lg-12">
            <h4 style="color:white;">News</h4>
        </div>
        {% for news in news_display %}
            <div class="col-lg-3">
                <div class="card" style="min-height: 300px;">
                    <img src="{{news.img_url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-title" style="font-weight: 600;">
                            <a href="https://www.mlb.com/news/{{news.slug}}" style="text-decoration: none; color: #244D87">
                                {{news.headline}}
                            </a>
                            </p>
                        <div style="position: absolute; bottom: 10px;">
                            <p class="card-text" style="font-size: small;">{{news.created_by}} &#x2022 {{news.content_date}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}