{% extends "index.html" %}

{% block title %}
  MLB Teams
{% endblock %}



{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h4 style="color:white;">Leaderboards</h4>
        </div>
        {% for stat in stat_list %}
            <div class="col-lg-4">
                <p style="color:white; margin: 0; font-size: small;">{{stat.leaderCategory|capfirst}} - {{stat.statGroup|title}}</p>
                <table class="table table-sm" style="background-color: white; font-size: 75%;">
                    <thead style="color: white; background-color: #3E9FCA;">
                      <tr>
                        <th scope="col" style="text-align: center;">Rank</th>
                        <th scope="col">Player</th>
                        <th scope="col">Team</th>
                        <th scope="col">Count</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for player in stat.leaders %}
                            <tr style="vertical-align: middle;">
                                <td style="text-align: center;">{{player.rank}}</td>
                                <td>
                                    <div>
                                        <img src="https://content.mlb.com/images/headshots/current/60x60/{{player.person.id}}.png" style="width: 30px;"/>
                                        <a style="text-decoration: none; vertical-align: middle;" href="{% url 'player' person_id=player.person.id team_id=player.team.id %}">{{player.person.fullName}}</a>
                                    </div>
                                </td>
                                <td>
                                    <a href="{% url 'team' team_id=player.team.id %}" >
                                        <img src="https://www.mlbstatic.com/team-logos/{{player.team.id}}.svg" style="height: 20px; width: 20px; border-radius: 50%; overflow: hidden; background-color: white;"/> 
                                    </a>
                                </td>
                                <td>{{player.value}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
{% endblock %}