{% extends "index.html" %}

{% block title %}
  Player Info
{% endblock %}

{% block content %}
    <div class="container py-4" style="border: 2px solid #cfcfcf">
        <div class="container-fluid py-5" style="background-color: #134A8E;">
            <!-- <h1 class="display-5 fw-bold">Custom jumbotron</h1> -->
            <div class="row">
                <div class="col-lg-2">
                    <img src="https://content.mlb.com/images/headshots/current/60x60/{{info.id}}@3x.png" style="background-color: white;">
                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <h2 style="color: white;">{{info.fullName}} #{{info.primaryNumber}}</h2>
                        <h5 style="color: white;">
                            {{info.primaryPosition.abbreviation}} | 
                            B/T : {{info.batSide.code}}/{{info.pitchHand.code}} | 
                            {{info.height}}/{{info.weight}} |
                            Age: {{info.currentAge}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid py-5">
            <div class="row">
                <div class="col-lg-3" style="font-size: 80%;">
                    <h6>{{info.fullFMLName}}</h6>
                    <ul style="list-style-type: none; padding: 0; margin: 0;">
                        <li>
                            <span style="font-weight: bold;">Nickname:</span>
                            {{info.nickName}}
                        </li>
                        <li>
                            <span style="font-weight: bold;">Born:</span>
                            {{info.birthDate}} in {{info.birthCity}}, {{info.birthStateProvince}}
                        </li>
                        <li>
                            <span style="font-weight: bold;">Draft:</span>
                            {{info.draftYear}}
                        </li>
                        <li>
                            <span style="font-weight: bold;">Debut:</span>
                            {{info.mlbDebutDate}}
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <h5 style="font-weight: 200;">Batting</h5>
                    <table class="table" style="font-size: 70%;">
                        <thead>
                            <tr>
                                <th scope="col">Year</th>
                                <th scope="col">AB</th>
                                <th scope="col">R</th>
                                <th scope="col">H</th>
                                <th scope="col">HR</th>
                                <th scope="col">RBI</th>
                                <th scope="col">SB</th>
                                <th scope="col">AVG</th>
                                <th scope="col">OBP</th>
                                <th scope="col">OPS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Career Regular Season</td>
                                <td>{{info.career_atbats|default:"0"}}</td>
                                <td>{{info.career_runs|default:"0"}}</td>
                                <td>{{info.career_hits|default:"0"}}</td>
                                <td>{{info.career_homeruns|default:"0"}}</td>
                                <td>{{info.career_rbi|default:"0"}}</td>
                                <td>{{info.career_stolenbases|default:"0"}}</td>
                                <td>{{info.career_avg|default:"0"}}</td>
                                <td>{{info.career_obp|default:"0"}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h5 style="font-weight: 200;">Pitching</h5>
                    <table class="table" style="font-size: 70%;">
                        <thead>
                            <tr>
                                <th scope="col">Year</th>
                                <th scope="col">AB</th>
                                <th scope="col">R</th>
                                <th scope="col">H</th>
                                <th scope="col">HR</th>
                                <th scope="col">RBI</th>
                                <th scope="col">SB</th>
                                <th scope="col">AVG</th>
                                <th scope="col">OBP</th>
                                <th scope="col">OPS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Career Regular Season</td>
                                <td>{{info.career_atbats|default:"0"}}</td>
                                <td>{{info.career_runs|default:"0"}}</td>
                                <td>{{info.career_hits|default:"0"}}</td>
                                <td>{{info.career_homeruns|default:"0"}}</td>
                                <td>{{info.career_rbi|default:"0"}}</td>
                                <td>{{info.career_stolenbases|default:"0"}}</td>
                                <td>{{info.career_avg|default:"0"}}</td>
                                <td>{{info.career_obp|default:"0"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}