{% extends "home.html" %}

{% block title %}
  MLB Roster
{% endblock %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col" style="padding: 10px; display: flex;">
                <div style="padding: 10px;">
                    <img src="https://www.mlbstatic.com/team-logos/{{team_id}}.svg" style="height: 50px; width: 50px; border-radius: 50%; overflow: hidden; background-color: white;"/> 
                </div>
                <h4 style="color: white; padding: 10px;">Team Name</h4>
                <div class="btn-group" role="group" style="margin-left: auto; height: 50%;">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">Pitchers</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Hitters</label>
                </div>
            </div>
        </div>
        <table class="table table-sm" style="background-color: white; font-size: 80%;">
            <thead style="color: white; background-color: #3E9FCA;">
                <tr>
                    <th>Pos</th>
                    <th>#</th>
                    <th>Player</th>
                    <th>Age</th>
                    <th>B</th>
                    <th>T</th>
                    <th>PA</th>
                    <th>H</th>
                    <th>2B</th>
                    <th>3B</th>
                    <th>HR</th>
                    <th>SB</th>
                    <th>SO%</th>
                    <th>BB%</th>
                    <th>AVG</th>
                    <th>OBP</th>
                    <th>OPS</th>

                </tr>
            </thead>
            <tbody>
                {% for player in pitchers %}
                    <tr style="vertical-align: middle;">
                        <td>{{player.position.abbreviation}}</td>
                        <td>{{player.jerseyNumber}}</td>
                        <td style="width: 38px; padding-right: 0;">
                            <div>
                                <img src="https://content.mlb.com/images/headshots/current/60x60/{{player.person.id}}.png" style="width: 40px;">
                            </div>
                        </td>
                        <td>
                            <a href="/player/{{player.person.id}}" style="font-weight: bold; text-decoration: none;">{{player.person.fullName}}</a>
                        </td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}