{% extends "home.html" %}

{% block title %}
  MLB Roster
{% endblock %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col" style="padding: 10px; display: flex;">
                <div style="padding: 10px;">
                    <img class="team-logo" src="https://www.mlbstatic.com/team-logos/{{team_id}}.svg"/> 
                </div>
                <div style="margin-top: 15px;">
                    <h6 style="color: white; margin: 0; font-weight: 600;">{{team_name}}</h6>
                    <div style="display: inline-block;">
                        <p class="player-title-header">{{standing}}&nbsp;</p>
                    </div>
                    <div style="display: inline-block;">
                        <p style="color: white; font-size: smaller;">{{record}}&nbsp;&#x2022&nbsp;</p>
                    </div>
                    <div style="display: inline-block;">
                        <p style="color: white; font-size: smaller;">{{gamesback}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% for group in player_groups %}
            <h6 style="color: white; margin: 0;">{{group.position}}</h6>
            <table class="table table-sm">
                <thead class="header-text">
                    <tr style="text-align: center;">
                        <th>Pos</th>
                        <th>#</th>
                        <th style="text-align: left;">Player</th>
                        <th>Age</th>
                        <th>B / T</th>
                        <th>Ht</th>
                        <th>Wt</th>
                        <th>DOB</th>
                    </tr>
                </thead>
                <tbody>
                    {% for player in group.players %}
                        <tr style="vertical-align: middle; text-align: center;">
                            <td>{{player.primaryPosition.abbreviation}}</td>
                            <td style="color: #3E9FCA; font-weight: 600;">{{player.primaryNumber}}</td>
                            <td style="padding-right: 0; text-align: left; width: 50%;">
                                <div>
                                    <img src="https://content.mlb.com/images/headshots/current/60x60/{{player.id}}.png" style="width: 30px;"/>
                                    <a style="font-weight: bold; vertical-align: middle;" href="/player/{{player.id}}/{{team_id}}">{{player.lastFirstName}}</a>
                                </div>
                            </td>
                            <td>{{player.currentAge}}</td>
                            <td>{{player.batSide.code}} / {{player.pitchHand.code}}</td>
                            <td>{{player.height}}</td>
                            <td>{{player.weight}}</td>
                            <td>{{player.birthDate}}</td>
                        </tr>
                    {% empty %}
                        <tr style="text-align: center;"><td colspan="8">No Data Available</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
    </div>

{% endblock %}